<a href="https://colab.research.google.com/github/9515391831/AI-Other/blob/main/Bagging.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
import sklearn
sklearn.__version__

'0.22.2.post1'

In [24]:
dataset=pd.read_csv('Rollno section.csv')
dataset.head()

   Roll No  Section
0      124        2
1      145        3
2       12        1
3      152        3
4       91        2

In [25]:
dataset.shape

(70, 2)

In [27]:
b=dataset.columns
b

Index(['Roll No', 'Section'], dtype='object')

In [28]:
len(b)

2

In [29]:
dataset.isna().any()

Roll No    False
Section    False
dtype: bool

In [48]:
from sklearn.ensemble import BaggingClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report,mean_absolute_error,mean_squared_error,r2_score

In [49]:
x=dataset['Roll No'].values.reshape(-1,1)
y=dataset['Section'].values.reshape(-1,1)

In [50]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [51]:
model=BaggingClassifier()

In [52]:
model.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_bagging.py:645: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

BaggingClassifier(base_estimator=None, bootstrap=True, bootstrap_features=False,
                  max_features=1.0, max_samples=1.0, n_estimators=10,
                  n_jobs=None, oob_score=False, random_state=None, verbose=0,
                  warm_start=False)

In [53]:
y_pred = model.predict(x_test)
y_pred

array([2, 3, 2, 2, 3, 1, 1, 2, 3, 1, 2, 1, 1, 2])

In [54]:
actual_predicted = pd.DataFrame({"Actual":y_test.flatten(),"Predicted":y_pred.flatten()})
actual_predicted

    Actual  Predicted
0        2          2
1        3          3
2        2          2
3        2          2
4        3          3
5        1          1
6        1          1
7        2          2
8        3          3
9        1          1
10       2          2
11       1          1
12       1          1
13       2          2

In [55]:
accuracy_score(y_test,y_pred)

1.0

In [56]:
confusion_matrix(y_test,y_pred)

array([[5, 0, 0],
       [0, 6, 0],
       [0, 0, 3]])

In [57]:
classification_report(y_test,y_pred)

'              precision    recall  f1-score   support\n\n           1       1.00      1.00      1.00         5\n           2       1.00      1.00      1.00         6\n           3       1.00      1.00      1.00         3\n\n    accuracy                           1.00        14\n   macro avg       1.00      1.00      1.00        14\nweighted avg       1.00      1.00      1.00        14\n'

In [58]:
mean_absolute_error(y_test,y_pred)

0.0

In [59]:
mean_squared_error(y_test,y_pred)

0.0

In [60]:
r2_score(y_test,y_pred)

1.0